@import 'src/scss/_vars';
@import 'src/scss/mixins';

.logo {
    display: flex;
    gap: 12px;
    align-items: center;
    &__text {
        @include text ($ff, 500, 16px, 19px, $black);
        letter-spacing: 0.01em;
    }
}