@import 'src/scss/vars';
@import 'src/scss/mixins';

.form {

    &__field {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 360px;
        margin-bottom: 20px;
        position: relative;
    }

    &__title {
        @include text ($ff, 500, 14px, 20px, $secondary);
    }

    &__input {
        border: 1px solid #D0D5DD;
        border-radius: 8px;
        outline: 0;
        padding: 10px 14px;
        cursor: pointer;
        @include text ($ff, 400, 16px, 24px, $secondary); 
        &::placeholder {
            @include text ($ff, 400, 16px, 24px, $accent);
        }
    }
}