$primary: #5429FF;
$bg: #CBCCE8;
$secondary: #344054;
$accent: #667085;
$black: #000000;
$white: #FFFFFF;
$input: #D0D5DD;

$ff: 'Inter', sans-serif;

$border: 8px;
$border-small: 4px;

$transition: .2s all ease-in-out;

$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;